{% extends 'base.html.twig' %}

{% block title %}Welcome | {{ parent() }}{% endblock %}

{% block body %}
<div class="h-100 d-table w-100">
    <div class="card card-body d-table-cell align-middle border-0 text-center">
            <h1><a href="{{ path('homepage') }}">⛅&nbsp;Forecast&nbsp;tools</a></h1>

            <p>
                These tools improve the use of ⛅ Forecast.
            </p>

            <p>
                <a href="{{ path('connect_harvest') }}" class="btn btn-primary">🔓&nbsp;&nbsp;Connect with Forecast</a>
            </p>
    </div>
</div>

<style>
html,
body {
  width: 100%;
  height: 100%;
}
</style>

{% endblock %}
