{% extends 'organization/base.html.twig' %}

{% block content %}
    {{ include('organization/invoicing/_progress.html.twig', {invoicingProcess: invoicingProcess, transition: transition}) }}
    <div class="card">
        <div class="card-body">
            {% block transition %}
            {% endblock %}
        </div>
        <div class="card-footer text-end">
            {% block footerLeft %}{% endblock %}
            {{ form_start(form) }}
                {{ form_widget(form.next) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
