{% extends 'organization/base.html.twig' %}

{% block content %}
    {{ include('organization/invoicing/_progress.html.twig', {invoicingProcess: invoicingProcess, transition: transition}) }}
    {{ form_start(form) }}
        <div class="card">
            <div class="card-body">
                {% block transition %}
                {% endblock %}
            </div>
            <div class="card-footer text-right">
                {% block footerLeft %}{% endblock %}
                {{ form_widget(form.next) }}
            </div>
        </div>
    {{ form_end(form) }}
{% endblock %}
