{% extends 'organization/invoicing/transition/base.html.twig' %}

{% block transition %}
    <h2>Review pending</h2>
    <p>
        This invoicing process is proposed for review and validation. Please ask another person to review the previous steps.
    </p>
    <p>
        Once done, just hit the "next step" button to complete the invoicing process for this billing period.
    </p>
{% endblock %}
