{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title %}Forecast Tools admin panel{% endblock %}

{% block page_content %}
<p>
    Welcome in the admin of your instance of Forecast Tools.
</p>
{% endblock %}
