* {
  box-sizing: unset;
}

body {
  margin: 8px;
  padding: 0 50px 50px 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: #00B7FF;
}

a:hover {
    color: #0084CC;
    text-decoration: none;
}

header {
  background-color: #eee;
  font-size: 2em;
  margin: -8px -58px 0 -58px;
  padding: 20px 58px;
}

header a {
  text-decoration: none;
}

h1 {
  background-color: #f8f8f8;
  font-size: 2rem;
  padding: 5px 58px;
  margin: 0 -58px 20px -58px;
}

h2 {
  font-size: 1.8rem;
  margin-top: 1rem;
}

.card {
  background-color: #f8f8f8;
  border-left: 5px #00b7ff solid;
  margin: 1em 0;
  padding: 5px 10px;
}

.card p {
  margin: 1rem 0;
}

a.button {
  background-color: #f8f8f8;
  border: 1px #00b7ff solid;
  border-radius: 3px;
  line-height: 44px;
  padding: 10px;
  text-decoration: none;
}
a.button:hover {
  border: 1px #0084CC solid;
}

input.button {
  background-color: #f8f8f8;
  border: 1px #00b7ff solid;
  border-radius: 3px;
  color: #00B7FF;
  line-height: 1.5em;
  padding: 6px 10px 7px 10px;
  text-decoration: none;
}
input.button:hover {
  border: 1px #0084CC solid;
  color: #0084CC;
}

.buttons {
  float: right;
  margin-top: -4px;
}

.buttons .button {
  padding: 3px 10px;
}

.buttons .button:hover {
  color: #f8f8f8;
  padding: 3px 10px;
  background-color: #00b7ff;
  border: 1px #00b7ff solid;
}
