@import "~bootstrap/scss/bootstrap";
@import "~daterangepicker/daterangepicker.css";

#content {
  max-width: 100vw;
  margin-bottom: -50px;
  padding-bottom: 50px;
}

#datepicker {
  position: absolute;
  top: 10px;
  right: 1em;

  input {
    width: 13em;
  }
}

::-webkit-scrollbar {
  height: 10px;
}
::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb {
  background: #d0d0d0;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #b8b8b8;
}


.flex-grow-1 table, .total-summary table {
  background-color: white;
}

@keyframes blink {
    from { background-color: white; }
    to { background-color: #ddedff; }
};

.card {
  &.selected {
    animation-name: blink;
    animation-direction: alternate;
    animation-duration: 800ms;
    animation-iteration-count: 8;
  }

  &:hover .days {
    overflow-x: scroll;
    padding-bottom: 0;
  }
}

.card-title {
  padding-left: 7.25em;
}

.names {
  min-width: 9em;

  table {
    width: 100%;
  }
}

.total-summary {
  min-width: 4em;

  table {
    width: 100%;
  }

  [rowspan="2"] {
    height: 50px !important;
  }
}

.days {
  overflow-x: hidden;
  overflow-y: hidden;
  padding-bottom: 10px;
}

table {
  border-collapse: separate;
  font-size: 12px;
  width: auto;
  table-layout:fixed;
}

table li {
  list-style-type: none;
}

table ul {
  margin: 0;
  padding: 0;
}

td.day {
  color: #ccc;
  text-align: center;
  font-weight: normal;
}

th {
  font-weight: bold;
}

th.day {
  text-align: center;
  height: 25px;
  width: 25px !important;
  border-bottom: 1px #ddd dotted;
}

th.month {
  text-align: center;
  height: 25px !important;
  border-left: 1px #ccc solid;
  border-bottom: 1px #ccc solid;
  border-top: 1px #ccc solid;
}

th.project h2 {
  padding-top: 1em;
}

th.people,
th.total,
td.totalDays,
th.totalDays {
  height: 25px !important;
  padding: 0;
  text-align: right;

  &.double {
    height: 52px !important;
  }
}

th.people {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

td.totalDays,
th.totalDays {
  padding-right: 1em;
}

.totalDays {
  border-bottom: 1px #ddd dotted;
  border-left: 1px #ccc solid;
  border-right: 1px #ccc solid;
}

.month.totalDays {
  border-bottom: 1px #ddd dotted;
}

td.monthly.total.totalDays {
  border-bottom: 1px #ccc solid;
}

.assignement {
  border-bottom: 1px #ddd dotted;
  height: 25px !important;
  padding: 1px;
  position: relative;
  text-align: center;
  width: 25px !important;
  max-width: 23px !important;
  overflow: hidden;
  overflow-wrap: normal;
}

.weekend {
  background-color: #f0f0f0;
}

.today {
  color: #007bff;
  border-left: 1px #007bff solid !important;
  border-right: 1px #007bff solid !important;
}

.assigned {
  background-color: #eaffea;
}

.firstDayOfWeek {
  border-left: 1px #ccc dotted;
}

.firstDayOfMonth {
  border-left: 1px #ccc solid;
}

.day.today {
  border-top: 1px #007bff solid;
  background-color: #e9f5ff;
  color: #007bff;
}

.separator {
  font-size: 5px;
  height: 5px !important;
}

td.monthly.total {
  border-top: 1px #ccc solid;
}

.total.today {
  border-bottom: 1px #007bff solid;
  background-color: #e9f5ff;
  font-weight: bold;
}

.week {
  text-align: center;
  height: 25px !important;
  border-left: 1px #ccc dotted;
  border-bottom: 1px #ccc solid;
}

.chart {
  td {
    padding-top: 1em;
    border-bottom: #ccc 1px dotted;
  }

  div {
    width: 21px;
    background-color: #efefef;
    border: 1px #dfdfdf solid;
    margin: 0 auto;
    border-radius: 1rem 1rem 0 0;
  }
}

.spacer div {
  height: 1px;
  width: 21px;
  margin: 0 auto;
}
