
p.help-text:not(.text-normal) {
  font-size: .8em;
  color: #aaa;
  margin-top: 0;
  margin-bottom: 1rem;
}

p.help-text.text-normal {
  font-size: 1em;
  color: #212529 !important;
  margin-top: 0;
  margin-bottom: 1rem !important;
}

label {
  margin-bottom: 0;
}

/**
input.form-control {
  width: calc(100% - 1.5rem);
}
**/
