.override {
  padding: 1em;
  margin-bottom: 1em;
  border: 1px #dee2e6 solid;
}

.help-text {
  font-size: .8em;
  color: #aaa;
}

.tab-content {
  margin-bottom: 3em;
}

.tab-pane {
  padding: 1em;
}
