.card-body {
    overflow-x: auto;
}

.table {
    td {
        text-align: center;

        &.actions {
            width: 20em;
        }
    }
    tr {
        &.low-row {
            .tooltip-bottom {
                top: auto;
                bottom: 100%;
            }
            .tooltiptext::after {
                bottom: auto;
                top: 100%;
                border-color: #555 transparent transparent transparent;
            }
        }

        &:hover th {
            background-color: #ffffdd;
        }

        &.ok {
            --bs-table-bg: transparent;
            background-color: #efe;
        }

        &.wrong {
            --bs-table-bg: transparent;
            background-color: #fdd;
        }

        &.notice {
            --bs-table-bg: transparent;
            background-color: #ffe;
        }

        &.explained {
            --bs-table-bg: transparent;
            background-color: #f8f8f8;
        }
    }

    &.invoices tr:hover {
        filter: brightness(0.9);
    }

    td, th {
        font-size: .8rem;
        vertical-align: middle;

        .tooltiptext {
            visibility: hidden;
            position: absolute;
            background-color: #333;
            color: #fff;
            text-align: left;
            padding: .75rem;
            border-radius: 6px;
            width: 400px;
            z-index: 100;
            opacity: 0;
            &::after {
                content: "";
                position: absolute;
                border-width: 5px;
                border-style: solid;
            }

            ul {
                margin: 0;
                padding: 0;
                list-style-type: none;

                li {
                    padding-left: 1.7em;

                    &:before {
                        content: '⚠️';
                        margin-left: -1.7em;
                        padding: 0 3px;
                    }
                }
            }
        }
        .tooltip-bottom {
            top: calc(100% + 5px);
            left: 50%;
            transform: translateX(-50%);
            &:after {
                bottom: 100%;
                left: 50%;
                margin-left: -5px;
                border-color: transparent transparent #555 transparent;
            }
        }
        .tooltip-left {
            right: calc(100% + 5px);
            top: 50%;
            transform: translateY(-50%);
            &:after {
                left: 100%;
                top: 50%;
                margin-top: -5px;
                border-color: transparent transparent transparent #555;
            }
        }
        .tooltip-right {
            left: calc(100% + 5px);
            top: 50%;
            transform: translateY(-50%);
            &:after {
                right: 100%;
                top: 50%;
                margin-top: -5px;
                border-color: transparent #555 transparent transparent;
            }
        }
        &.right-column {
            .tooltip-bottom {
                transform: none;
                left: auto;
                right: -20px;
            }
            .tooltiptext::after {
                left: auto;
                right: 35px;
            }
        }
        &:hover {
            filter: brightness(0.9);

            .tooltiptext {
                visibility: visible;
                opacity: 1;
            }
        }
    }

    thead th {
        padding: 1em 0;

        &[scope=col] {
            padding: 1em;
            text-align: center;
        }

        &:not(.weekend) {
            border-right: 1px #eee solid;
        }
    }

    .entry {
        font-weight: normal;
        padding: 0;
        border-left: 1px #fff dotted;
        border-top: 1px #fff dotted;
        background-color: #efe;

        a {
            display: block;
            width: 100%;
            padding: .6em;
            text-align: center;
            color: green;
            &:hover {
                text-decoration: none;
            }
        }

        .duration {
            position: absolute;
            right: 0;
            z-index: 100;
            background-color: #eee;
            font-style: normal;
            font-weight: 400;
            padding: 0 5px;
            border-radius: 3px;
            color: #333;
        }

        .entryGroup {
            &:not(:last-of-type) {
                padding-bottom: 1em;
                margin-bottom: 1em;
                border-bottom: 1px #666 dotted;
            }

            &+ul {
                border-top: 1px #666 dotted;
                margin-top: 1em;
                padding-top: 1em;
            }
        }
    }

    .missing, .bug {
        background-color: #ffbbbb;

        &.skip {
            background-color: #e8e8e8;
            color: #222;
        }
    }

    .incomplete {
        background-color: rgb(255, 205, 98);

        &.skip {
            background-color: rgb(255, 228, 170);
            background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0IiBoZWlnaHQ9IjQiPjxwb2x5Z29uIG9wYWNpdHk9Ii4xNSIgZmlsbD0iIzMzMyIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyIgcG9pbnRzPSIwLDAgMCwxLjUgMS41LDAiLz48cG9seWdvbiBvcGFjaXR5PSIuMTUiIGZpbGw9IiMzMzMiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXciIHBvaW50cz0iNCwwIDAsNCAxLjUsNCA0LDEuNSIvPjwvc3ZnPg==);
        }
    }

    .overflow {
        background-color: #ffbbbb;
    }

    .weekend {
        background-color: #eee;
        background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0IiBoZWlnaHQ9IjQiPjxwb2x5Z29uIG9wYWNpdHk9Ii4xNSIgZmlsbD0iIzMzMyIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyIgcG9pbnRzPSIwLDAgMCwxLjUgMS41LDAiLz48cG9seWdvbiBvcGFjaXR5PSIuMTUiIGZpbGw9IiMzMzMiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXciIHBvaW50cz0iNCwwIDAsNCAxLjUsNCA0LDEuNSIvPjwvc3ZnPg==);

        .overflow {
            background-color: #ffbbbb;
        }
    }
}

.forecast, .harvest {
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 1.7em 3px 2em;
    white-space: nowrap;
}

.forecast::before {
    background-color: #f36c00;
    background-image: linear-gradient(#f68a28, #f36c00);
    content: "F";
    display: inline-block;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-style: normal;
    font-weight: 400;
    padding: 0 5px;
    border-radius: 3px;
    margin-left: -1.7em;
}
.harvest::before {
    background-color: #f36c00;
    background-image: linear-gradient(#f68a28, #f36c00);
    content: "H";
    display: inline-block;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-style: normal;
    font-weight: 400;
    padding: 0 5px;
    border-radius: 3px;
    margin-left: -1.7em;
}
