
<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link{% if menu == 'slack' %} active{% endif %}" href="{{ organization_path('settings_slack') }}" role="tab">Slack settings</a>

        <a class="nav-item nav-link{% if menu == 'forecast' %} active{% endif %}" href="{{ organization_path('settings_forecast') }}" role="tab">Public Forecasts settings</a>

        {% if is_granted('harvest_admin', forecastAccount) %}
            <a class="nav-item nav-link{% if menu == 'harvest' %} active{% endif %}" href="{{ organization_path('settings_harvest') }}">Invoicing settings</a>
        {% endif %}
    </div>
</nav>
