# Slack integration token (for provisioning & deployment notifications)
slack_integration_token: "TXXXX/BXXXX/ZZZZZZZ"
slack_integration_channel: "your_channel_name"

# databases password
database_forecast_prod_password: "XXXX"
database_forecast_preprod_password: "XXXX"

# application .env configuration
app_env_secret: "GIMME SOME SECRET KEY"
app_env_database_url: "mysql://{{ deploy_database_user }}:{{ deploy_database_password }}@127.0.0.1:3306/{{ deploy_database_name }}"
app_env_harvest_id_client_id_prod: "AAAA"
app_env_harvest_id_client_secret_prod: "BBBB"
app_env_harvest_id_client_id_preprod: "AAAA"
app_env_harvest_id_client_secret_preprod: "BBBB"
